<div class="container">
    <h4>Welcome Admin,</h4>
    <div class="option">
    <div class="text-center">
        <div class="button"><button class="btn btn-secondary" (click) ="routeToAddFlight()">Add Flights</button><br/></div>
        <div class="button"><button class="btn btn-secondary" (click) ="routeToScheduleFlight()">Schedule Flights</button><br/></div>
        <div class="button"><button class="btn btn-secondary" (click) ="routeToViewFlight()">View Flights</button><br/></div>
        <div class="button"><button class="btn btn-secondary" (click) ="routeToViewSceduledFlight()">View Scheduled Flights</button><br/></div>
        <div class="button"><button class="btn btn-secondary" (click) ="routeToViewAllBookingHistory()">View Booking History</button></div>
    </div>
    </div>
</div>