<div class="container">
    <h4 class="text-center"> Confirm Booking</h4>
    <br/>
    <table class ="table table-borderless">
        <tbody *ngFor ="let ticket of ticketDetailsService.ticketDetails">
            <tr>
                <th>Ticket Number</th>
                <td>{{ticket.ticketNumber}}</td> 
            </tr>
            <tr>
                <th>Traveller Name</th>
                <td>{{ticket.passengerName}}</td> 
            </tr>
            <tr>
                <th>Flight Name</th>
                <td>{{ticket.flightName}}</td> 
            </tr>
            <tr>
                <th>Flight Number</th>
                <td>{{ticket.flightNumber}}</td> 
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ticket.source}}</td> 
            </tr>
            <tr>
                <th>Departure</th>
                <td>{{ticket.destination}}</td> 
            </tr>
            <tr>
                <th>Departure Date</th>
                <td>{{ticket.departureTime }}</td>
            </tr> 
            <tr>
                <th>Departure Time</th>
                <td>{{ticket.departureTime }}</td>
            </tr>
            <tr>
                <th>Arrival Time</th>
                <td>{{ticket.arrivalTime }}</td>
            </tr>
            <tr>
                <th>Journey Hrs</th>
                <td>{{ticket.journeyHrs}}<i>Hrs</i>&nbsp;{{ticket.durationMins}}<i>Mins</i></td>
            </tr>
            <tr>
                <th>No.Of Travellers</th>
                <td>{{ticket.noOfPassengers}}</td>
            </tr>
            <tr>
                <th>Ticket Rate</th>
                <td>{{ticket.ticketRate}}</td>
            </tr> 
            <tr>
                <td><button type="submit" class="btn btn-primary" (click)="routeToTicketBooking()">Cofirm Book</button></td>
            </tr>  
        </tbody>     
    </table>
</div>
