<div class="container">
    <h4 class="text">Update Flight Details</h4>
    
    <div class="login-form">
        <form #updateFlight = "ngForm" (submit) = "updateFlightList(updateFlight.value)">
           <div class="form-group">
              <label>Flight Name</label>
              <input list="flightName" class="form-control" placeholder="Enter Flight Name" [(ngModel)]="flight.flightName" name="flightName" #flightName  required ngModel>
              <datalist id="flightName">
               <option value = "AirIndia"> 
               <option value = "IndiGo">
               <option value = "SpiceJet">
               <option value = "Luftansa">
               <option value = "Vistara">
               <option value = "Kingfisher">
           </datalist>
           <!--   <span class="text-danger" *ngIf="flightName.dirty && flightName.invalid"> Enter Flight Name!</span>
            </div>
           <div class="form-group">
            <label>Flight Number</label>
            <input type="text" class="form-control" placeholder="Enter Flight Number" [(ngModel)]="flight.flightNumber" name="flightNumber" #flightNumber="ngModel" required ngModel>
            <span class="text-danger" *ngIf="flightNumber.dirty && flightNumber.invalid"> Enter Flight Number!</span>
         </div>
         <div class="form-group">
            <label>No of Seats</label>
            <input type="text" class="form-control" placeholder="Enter Total seats" [(ngModel)]="flight.totalSeat" name="totalSeats" pattern="[0-9]*" maxlength="3" #totalSeats="ngModel" required ngModel>
            <span class="text-danger" *ngIf="totalSeats.dirty && totalSeats.invalid"> Enter Available Seats!</span>
            <!-- <span class="text-danger" *ngIf="pattern.invalid && maxlength.invalid"> Enter valid Available Seats!</span> -->
         </div>
         <div class="form-group">
            <label>Source</label>
            <input list = "source" class="form-control" placeholder="Enter Source" [(ngModel)]="flight.source" name="source" #source="ngModel" required ngModel>
            <datalist id="source">
               <option value = "Chennai">
               <option value = "Madurai">
               <option value = "Hyderabad">
               <option value = "Bangalore">
               <option value = "Delhi">
               <option value = "Mumbai">
               <option value = "Kolkata">
           </datalist>
            <span class="text-danger" *ngIf="source.dirty && source.invalid"> Enter Source!</span>
         </div>
         <div class="form-group">
            <label>Destination</label>
            <input list ="destination" class="form-control" placeholder="Enter Destination" [(ngModel)]="flight.destination" name="destination" #destination="ngModel" required ngModel>
            <datalist id="destination">
               <option value = "Chennai">
               <option value = "Madurai">
               <option value = "Hyderabad">
               <option value = "Bangalore">
               <option value = "Delhi">
               <option value = "Mumbai">
               <option value = "Kolkata">
           </datalist>
            <span class="text-danger" *ngIf="destination.dirty && destination.invalid"> Enter Destination!</span>
         </div>
         <div class="form-group">
            <label>Departure Time</label>
            <input type="datetime-local" class="form-control" placeholder="Select Departure Date & time" [(ngModel)]="flight.departureTime" name="departureTime" #departureTime="ngModel" required ngModel>
            <span class="text-danger" *ngIf="departureTime.dirty && departureTime.invalid"> Select Departure Date & Time!</span>
         </div>
         <div class="form-group">
            <label>Arrival Time</label>
            <input type="datetime-local" class="form-control" placeholder= "Select Arrival Date & Time" [(ngModel)]="flight.arrivalTime" name="arrivalTime" #arrivalTime="ngModel" required ngModel>
            <span class="text-danger" *ngIf="arrivalTime.dirty && arrivalTime.invalid"> Select Arrival Date & Time!</span>
         </div>
         <div class="form-group">
            <label>Ticket Rate</label>
            <input type="text" class="form-control" placeholder="Enter Ticket Rate" [(ngModel)]="flight.ticketRate" name="ticketRate" pattern="[0-9]*" maxlength="5" #ticketRate="ngModel" required ngModel>
            <span class="text-danger" *ngIf="arrivalTime.dirty && arrivalTime.invalid "> Enter ticket rate!</span>
            <!-- <span class="text-danger" *ngIf="pattern.invalid && maxlength.invalid">Enter valid ticket rate!</span> -->
         </div>
           <button type="submit" class="btn btn-secondary">Update</button>
        </form>
     </div>
    <div *ngIf="isUpdated">
       <h5 class="d-flex justify-content-center">Flight Details Updated !!</h5>
       <div class="d-flex justify-content-center"><button class="btn btn-success" (click)="routeToFlightDetails()">Okay</button></div>
    </div>
 </div>